*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background: aliceblue;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    place-items: center;
    display: grid;
}
h1{
    text-align: center;
    margin-top: 0;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1.25rem;
    width: 100%;
}
input, select{
    margin: 0.5em 0 1em;
    padding: 0.6em 0.75em;
    width: 100%;
    border-radius: 10px;
    border: 1px #ccc solid;
    font-size: 1rem;
}
input:focus, select:focus{
    outline: none;
    border-color: #0077ff;
}
button.calculate{
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    padding: 0.75em;
    border: none;
    background: #0077ff;
    color: white;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 1rem;
}
button.calculate:active, .reset:active{
    transform: scale(0.97);
}
button.calculate:hover{
    background-color: black;
}
.reset{
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    padding: 0.75em;
    border: none;
    background: #0077ff;
    color: white;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 1rem;
}
.reset:hover{
    background-color: black;
}
.card{
    width: min(250px, 70%);
    background: white;
    padding: 2em;
    width: 360px;
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.15);
}
